body {
  margin: 0;
  padding:0;
  
  background: #192d36;
  color: rgb(216, 220, 200);
  font-family: 'Satisfy', 'Arial','Helvetica','sans-serif', 'Dancing Script';
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}